$baseFontFamily: 'Open Sans', sans-serif;

body {
  padding-top: 60px;
}

@import "bootstrap-sass/lib/bootstrap";

#remotestorage-connect {
  position: relative;
}

#remotestorage-widget {
  top: 0 !important;
}
