$baseFontFamily: 'Open Sans', sans-serif;
$linkColor: #259C66;
$linkColorHover: darken($linkColor, 5%);
// $navbarBackground: #259C66;
// $navbarBackgroundHighlight: #259C66;

@import "bootstrap-sass/lib/bootstrap";

// body {
//   background: #F1F9F6;
// }

#content {
  padding-top: 60px;
}

#remotestorage-connect {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

#remotestorage-widget {
  top: 0 !important;
  right: 0 !important;
  //FIXME must be fixed if navbar stays fixed
}

.bookmark-list {
  padding-top: 60px;
  padding-bottom: 100px;
  .bookmark {
    margin-top: 40px;
  }
  .screenshot {
    margin-right: 30px;
    img {
      background: #efefef;
      width: 100px;
      height: 80px;
    }
  }
  h4.media-heading {
    font-size: 24px;
    line-height: 1.2em;
  }
  .media-body {
    p.meta {
      color: #888;
      font-size: 13px;
    }
    p.description {
      margin-bottom: 0;
    }
  }
}

.import-container {
  padding-top: 60px;
  padding-bottom: 100px;
}

#import-delicious-html {
  display: none;
}
