<div class="container">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">webmarks</a>
        <div id="remotestorage-connect"></div>
      </div>
    </div>
  </div>
{{outlet}}
</div>
