<ul class="media-list bookmark-list">
  {{#each item in model}}
    <li class="media bookmark">
    <a class="pull-left screenshot" href="#">
      <img class="media-object" alt="">
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <a {{bindAttr href="item.url"}}>{{item.title}}</a>
      </h4>
      <p class="meta">
        <span class="domain">{{item.domain}}<span>
      </p>
      <p class="description">{{item.description}}</p>
    </div>
    </li>
  {{/each}}
</ul>
